.App {
  text-align: center;
}

.category {
  margin-top: 15px;
}

.title {
  margin-top: 20px;
}

.titleInput {
  width: 80vw;
}

.url {
  margin-top: 20px;
}

.urlInput {
  width: 80vw;
}

.description {
  margin-top: 30px;
}

.textArea {
  width: 80vw;
}

.button {
  margin-top: 30px;
}
